.contacts-button {
  margin-right: 1em;
}

.input-actions {
  float: right;
  margin-top: 0.5em;
}

.contact-line {
  margin-bottom: 1.2em;
}

.contact-name {
  color:rgb(127, 251, 255);
  background: #d782ff;
  padding: 2em;
  border: 5px solid red;
  border-radius: 10px;
  margin: 1em;
}